/target/
.project
.classpath
/test-output
/allure-results
/allure-report
docs/~$Test Cases - computer-database.xlsx
*.prefs
docs/~$st Plan - computer-database.docx
/.idea/
computer-database-tests-bb.iml
