/target/
.project
.classpath
/test-output
/allure-results
/allure-report
docs/~$Test Cases - computer-database.xlsx
*.prefs
docs/~$st Plan - computer-database.docx
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/.name
.idea/codeStyles/codeStyleConfig.xml
.idea/misc.xml
.idea/modules.xml
.idea/sbt.xml
.idea/vcs.xml
.idea/workspace.xml
computer-database-tests-bb.iml
