<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ACA Sanity Test Suite">


	<test name="Regression Test">

		<classes>
			<class name="tests.CreateComputerTest" />
			<class name="tests.UpdateComputerTest" />
			<class name="tests.ReadComputerTest" />
			<class name="tests.DeleteComputerTest" />
		</classes>
	</test>



</suite>